<div class="">
    <h1 class="heading">Twinkle Crackers List</h1>
    <div class="img">
        <img class="img" src="../../../assets/Twinkle crackers.gif" alt="">
    </div>
    <!-- Table -->
    <div class="body">
        <table class="table table-hover table-info table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Title</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Pieces</th>
                    <th>Per</th>
                    <th>Count</th>
                    <th>Total</th>
                    <th>Images</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let category of crackersData; let i = index">
                    <tr>
                        <td [attr.rowspan]="category.products.length" class="titletd">{{ category.title }}</td>
                        <td>{{ category.products[0].name }}</td>
                        <td>₹ {{ category.products[0].price }}</td>
                        <td>{{ category.products[0].Pieces }}</td>
                        <td>{{ category.products[0].per }}</td>
                        <td>
                            <button (click)="decrementCount(i, 0)" class="btn btn-danger">-</button>
                            <span class="padding">{{ category.products[0].count }}</span>
                            <button (click)="incrementCount(i, 0)" class="btn btn-success">+</button>
                        </td>
                        <td id="zeroIndex">₹ {{ category.products[0].price * category.products[0].count }}</td>
                        <td [attr.rowspan]="category.products.length" style="vertical-align: middle;">
                            <div style="text-align: center;">
                                <img class="img1" src="{{category.products[0].img}}" alt="">
                            </div>
                        </td>
                        
                    </tr>
                    <tr *ngFor="let product of category.products.slice(1); let prodIdx = index">
                        <td>{{ product.name }}</td>
                        <td>₹ {{ product.price }}</td>
                        <td>{{ product.Pieces }}</td>
                        <td>{{ product.per }}</td>
                        <td>
                            <button (click)="decrementCount(i, prodIdx + 1)" class="btn btn-danger">-</button>
                            <span class="padding">{{ product.count }}</span>
                            <button (click)="incrementCount(i, prodIdx + 1)" class="btn btn-success">+</button>
                        </td>
                        <td id="allIndex">₹ {{ product.price * product.count }}</td>
                    </tr>
                </ng-container>
            </tbody>

        </table>
    </div>
    <div class="card">
        Total : ₹ {{ getTotalValue() }}
        <div style="padding-top: 10px;">
            <button [disabled]="getTotalValue() == 0" (click)="shareOnWhatsApp()" type="button" class="btn btn-warning">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                <!-- <a href="https://api.whatsapp.com/send?text=Hi, this is a test" target="_blank">Send by WhatsApp</a> -->

                Share to whatsapp</button>

            <!-- Share via Email Button -->
            <button [disabled]="getTotalValue() == 0" style="margin-left: 5px;" (click)="shareViaEmail()"
                class="btn btn-success">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                Share via Email
            </button>

            <button [disabled]="getTotalValue() == 0" style="margin-left: 5px;" (click)="shareAsPDF()"
                class="btn btn-primary">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                Download as PDF
            </button>
        </div>
    </div>

</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted pt-2">
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Twinkle Crackers
                    </h6>
                    <p>
                        This religious festival represents the triumph of good over evil and light over darkness
                    </p>
                </div>



                <div class="col-md-4 col-lg-3 col-xl-4 mx-auto mb-md-0 mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <!-- <p>
                       <i class="fa fa-envelope" aria-hidden="true"></i>
                        <a href="mailto:twinklecrackers.svks0@gmail.com">
                             twinklecrackers.svks0@gmail.com</a>
                    </p> -->
                    <p><strong><i class="fa fa-envelope" aria-hidden="true"></i></strong><a
                            href="mailto:twinklecrackers.svks0@gmail.com">
                            twinklecrackers.svks0@gmail.com</a></p>
                    <p> <i class="fa fa-whatsapp" aria-hidden="true"></i> +91 6379562195</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>

</footer>
<!-- Footer -->
<div class="text-uppercase fw-bold"
    style="text-align: center; font-size: 36px; color: black; background-color: #cdeaeb;">Website Contact</div>
<div class="card1">

    <h1>Hi, I'm <span class="highlight">Sudhan</span></h1>
    <p class="description">A passionate <strong style="color: black;">Front-End developer</strong>, dedicated to
        crafting seamless and engaging web
        experiences.</p>
    <div class="contact-info">
        <p><strong><i class="fa fa-whatsapp" aria-hidden="true"></i></strong> +91 9865927380</p>
        <p><strong><i class="fa fa-envelope" aria-hidden="true"></i></strong><a href="mailto:samsudhan23@gmail.com">
                samsudhan23@gmail.com</a></p>
    </div>
</div>